@page
@model EldaCPRFirstAidTraining.Pages.TrainingSchedule.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>TrainingSchedule</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TrainingSchedule.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TrainingSchedule.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TrainingSchedule.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TrainingSchedule.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TrainingSchedule.StartTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TrainingSchedule.StartTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TrainingSchedule.EndTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TrainingSchedule.EndTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TrainingSchedule.Training)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TrainingSchedule.Training.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.TrainingSchedule.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
